
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


$font-color:#636b6f;
$bg-color:#fff;
$border-color:#f2f2f2;
body {
  background-color: #f8f8f8;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  color: $font-color;

  a{color: $font-color;}
  a:hover{
    color: #96a4ab;
    text-decoration: none;
  }
}

.hide {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.box-radius{
  border-radius:5px;
}

.avatar-30{
  width: 30px;
  height: 30px;
  @extend .box-radius;/*引入外部 css 样式*/
}

.avatar-40{
  width: 40px;
  height: 40px;
  @extend .box-radius;/*引入外部 css 样式*/
}

.avatar-80{
  width: 80px;
  height: 80px;
  @extend .box-radius;/*引入外部 css 样式*/
}

.avatar-120{
  width: 120px;
  height: 120px;
  border-radius:60px;
}

/*文本padding边距*/
.box-body{
  padding: 1.5rem;
}

/*文本padding边距*/
.box-body-1{
  padding-top: 1rem;
}

/*左侧操作悬浮框*/
.thread-toolbar{
  position: fixed;
  top: 150px;
  margin-left: -80px;
  .btn{
    color:$font-color;
  }
}

/* 右侧侧边栏 */
.list-box{
  .icon-link{
    margin-top:5px;
  }
}

/*主体阴影样式*/
.body-shadow{
  border: none;
  background-color: $bg-color;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

.navbar-laravel {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-bottom: 1px solid #e8e8e8;
  margin-top: 0px;
  .nav-item{
    margin-left: 10px;
  }
}


.footer {
  position : absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  box-shadow: 0px -5px 11px 1px rgba(42, 42, 42, 0.1);
  .container {

    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* 主界面 */
.index-list{
  /* 主列表 */
  .box{
    padding: 0px 0px;
    @extend .body-shadow;
    /*列表样式*/
    .list-group-item{
      background-color: $bg-color;
      border: 1px solid $border-color
    }
  }
  /* 右侧边栏 */
  @extend .list-box;
}


/* 文章詳情 */
.topic-show{
  .markdown-body{
    font-size: 15px;
    line-height: 30px;
    p{
      margin-bottom: 3px;
    }
  }
  /* 主列表 */
  .box{
    @extend .body-shadow;
    /*列表样式*/
    .list-group-item{
      background-color: $bg-color;
      border: 1px solid $border-color
    }
    .reply-list{
      .line-divide{
        border-bottom: 1px solid $border-color
      }
      .btn{
        color:$font-color;
      }
    }
  }
  /* 右侧边栏 */
  @extend .list-box;
}


/* 个人中心 */
.user-show{
  /* 顶部信息 */
  .user-header{
    min-height: 40vh;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    .avatar{
      border:3px solid white;
    }

    .user-profile{
      z-index:2;
      text-shadow: 1px 1px 10px #3d465e;
    }
  }

  .user-show-navbar{
    position: sticky;
    top: -1px;
    z-index: 999;
  }

  .nav-tab-line{
    .active{
      border-bottom: 3px solid rgb(52,144,220);
    }
  }

  /* 主界面 */
  .box{
    @extend .body-shadow;
  }
}

/* 个人中心编辑 */
.user-edit{
  /* 主界面 */
  .box{
    @extend .body-shadow;
    .list-group-item{
      background-color: $bg-color;
      border: 1px solid $border-color
    }
  }
}

